<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>&copy; 2024 Soju Webplex Corp | All Rights Reserved</p>
        <p>Contact: info@sojuwebplex.com | Phone: (123) 456-7890</p>

        <!-- Links Moved Here -->
        <div class="mt-3">
            <a href="/transaction" class="btn btn-primary mb-2 mx-1">Buy/Sell</a>
            <a href="/investor" class="btn btn-primary mb-2 mx-1">Investor portfolio</a> <!-- works-->
            <a href="/stock" class="btn btn-primary mb-2 mx-1">Stocks </a>
            <a href="/bonds" class="btn btn-primary mb-2 mx-1">Bonds</a> <!-- works-->
        </div>
    </div>
</footer>