<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">APT Bonds & Stocks</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/">Home</a>
            <a id='transaction' class="nav-link" href="/transaction">Buy/Sell</a>
            <a id='investor' class="nav-link" href="/investor">Investor</a>
            <a id='stock' class="nav-link" href="/stock">Stocks</a>
            <a id='bonds' class="nav-link" href="/bonds">Bonds</a>
        </nav>
    </div>
</header>